<%= form_for @user do |f| %>
  <table class="table response">
    <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td>

        <td><%= f.label :nickname %></td>
        <td><%= f.text_field :nickname%></td>
    </tr>
    <tr>
        <td><%= f.label :name %></td>
        <td><%= f.text_field :name %></td>

        <td><%= f.label :password %></td>
        <td><%= f.text_field :password %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "Save", :class => "btn btn-primary" %>
  </div>
<% end %>